.{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'poppins','sans-serif';
}
body{
	min-height: 100%;

}
a{
	text-decoration: none;
}

li{
	list-style: none;


}
h1,h2{
	color: black;

}
h3{
	color: blue;
}
.btn{
	background: red;
	color: white;
	padding: 5px 10px;
	text-align: center;
}
.btn:hover{
color: red;
background: white;
padding: 3px 8px;
border: solid lightgrey;
}
.side-menu{
	background-color:maroon;
	position: fixed;
	width: 20vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	top: 65px;
	left: 0;
}
.brand_name{
height: 8vh;
display: flex;
align-items: center;
justify-content: center;
}
.side-menu li{
	font-size: 16px;
	padding: 15px 0px;
	color: white;
	display: flex;
	align-items:center;
	justify-content: left;
}
.side-menu li:hover{
	background: white;
	color: maroon;

}
.container{
	position: absolute;
	right: 0;
	width: 80vw;
	height: 100vh;
	background: grey;
}
.container .header{
	position: fixed;
	top:0;
	right: 0;
	width: 100vw;
	height: 10vh;
	background: orange;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);


}
.container .header .nav{
	width: 90%;
	display: flex;
	align-items: center;
}

.container .header .nav .search{
	flex: 3;
	display: flex;
	justify-content: center;
	
}
.container .header .nav .search input[type=text]{
	border: none;
	background: white;
	padding: 10px;
	width: 50%;
}
.container .header .nav .search button{
	width: 30px;
	height: 35px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container .header .nav .user{
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.container .header .nav .user .img-case{
	position: relative;
	width: 50px;
	height: 50px;

}

.container .header .nav .user .img-case img{
	position: absolute;
	height:100%; 
	width:100%;
	top: 0;
	left: 0;
}
.container .content{
	position: relative;
	margin-top: 10vh;
	min-height: 90vh;
}

.container .content .cards {
	padding:20px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	 }

	 .container .content .cards .card{
	 	width: 250px;
	 	height: 160px;
	 	background: white;
	 	margin: 12px 5px;
	 	display: flex;
	 	justify-content: space-around;
	 	align-items: center;
	 	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);



	 }